a:hover {
  text-decoration: none;
  cursor: pointer;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

body {
  background: url('../img/bar_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  position: absolute;
}


/*NAV*/

.show-nav {
  position: fixed;
  top: 2%;
  right: 2%;
  color: rgba(200, 200, 200, 0.6);
  font-size: 2em;
  z-index: 1001;
}

.hide-nav {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  color: rgba(255, 255, 255, 0.7);
}

.show-nav:hover,
.hide-nav:hover {
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);
  transition: .2s ease-out;
}

.side-nav {
  position: fixed;
  right: -240px;
  top: 0;
  bottom: 0;
  background: #000;
  transition: .1s;
  z-index: 1002;
  overflow-y: scroll;
}

.nav-list {
  list-style: none;
  margin: 80px 0 0 0;
  padding: 0;
  z-index: 1002;
}

.nav-list li {
  margin: 40px 0 0 0;
}

.nav-phone {
  position: absolute;
  bottom: 16px;
  padding-left: 56px;
  font-size: 1.2em;
}

.nav-list a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2em;
  padding: 0 56px 0;
}

.nav-list a:hover {
  color: #fff;
}


/*HERO*/

.hero {
  margin-top: 38%;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.hero-header {
  padding-left: 80px;
  font-size: 6em;
  margin: 120px 0 0 0;
}

.hero-desc {
  padding: 0 0 120px 10%;
  margin: 0;
  font-size: 1.6em;
}

.down-arrow {
  position: absolute;
  right: 40px;
  bottom: 40px;
  color: #fff;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.7);
  display: none;
}


/*ABOUT*/

#about {
  background: #fff;
  color: #000;
  padding: 120px 120px;
  font-size: 2em;
  text-align: justify;
  margin-bottom: 0;
}


/*SERVICES*/

#services {
  margin-top: 0;
}

.services-header {
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 24px 0;
  text-align: center;
}

.services-header h2 {
  font-size: 2.5em;
}

.services-content {
  background: #fff;
  color: #000;
}

.service-icon-caption {
  font-size: 3em;
}

.service-icon {
  font-size: 4em;
}

.for-sellers,
.for-buyers,
.consulting {
  color: #fff;
  padding: 124px 0;
}

.for-sellers-list,
.for-buyers-list,
.consulting-list {
  font-size: 1.5em;
  padding-left: 64px;
  opacity: .3;
}

.fade-in {
  transition: 2s ease-in-out;
  opacity: 1;
}

.for-sellers {
  background: rgb(19, 195, 102);
}

.for-sellers-list {
  color: rgb(19, 195, 102);
  padding-top: 40px;
}

.consulting {
  background: rgb(195, 102, 19);
}

.consulting-list {
  padding: 80px 48px 0;
  color: rgb(195, 102, 19);
}

.mobile-buyers {
  display: none;
}

.for-buyers {
  background: rgb(102, 19, 195);
}

.for-buyers-list {
  color: rgb(102, 19, 195);
  padding-top: 80px;
}


/*ABOUT*/

#broker {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 120px 80px;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.broker-img {
  margin-bottom: 48px;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.8);
}

.broker-img img {
  border-radius: 50%;
  max-width: 240px;
}

.broker-content {
  margin-top: 64px;
  font-size: 2em;
}


/*MAILER*/

#mailer {
  background: rgb(195, 102, 19);
  padding: 24px 0;
}

.mailer-form {
  text-align: center;
  font-size: 1.6em;
  color: #333;
}

.mailer-form h3 {
  border: 1px solid #333;
  display: inline;
  padding: 16px;
}

.desktop-form p {
  display: inline;
}

.mailer-form label {
  margin: 0 8px;
}

.mailer-form input[type="email"] {
  width: 25%;
  margin: 0 16px;
  padding: 4px;
}

.mailer-form input[type="checkbox"] {
  margin: 0 8px;
}

.mailer-form input[type="submit"] {
  border: 1px solid #333;
}

.mobile-form {
  display: none;
}


/*CONTAT*/

#contact {
  background: #000;
  text-align: center;
  padding: 120px 0;
  font-size: 2em;
}

.contact-content,
.contact-content a {
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 1400px) {
  .hero {
    margin-top: 30%;
  }
  .consulting-list {
    padding-top: 48px;
  }
}

@media (max-width: 990px) {
  #about {
    text-align: center;
  }
  .desktop-buyers {
    display: none;
  }
  .mobile-buyers {
    display: block;
  }
  .for-sellers-list,
  .for-buyers-list,
  .consulting-list {
    padding: 48px 36px 48px;
  }
  .mailer-form h3 {
    display: block;
  }
}

@media (max-width:480px) {
  .hero-header {
    padding-left: 8px;
  }
  .nav-list {
    margin-top: 48px;
  }
  #about,
  #broker {
    padding: 80px 16px;
  }
  .desktop-form {
    display: none;
  }
  .mobile-form {
    display: block;
  }
  .mailer-form input[type="email"] {
    width: 80%;
    margin: 16px 0;
  }
}

@media (max-width: 350px) {
  .hero-header {
    margin-top: 48px;
  }
  .email {
    font-size: .8em;
  }

}
